  <div id="map">
    <a href="$map-link$"><img src="/img/$map-image$" alt="Lageplan" /></a>
  </div>

  <div role="main" itemscope itemtype="http://schema.org/Organization">
    <div class="contact-info">
        <div itemprop="name">$name$</div>
        <div>$description$</div>
        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <div itemprop="streetAddress">$street$</div>
            <div><span itemprop="postalCode">$zipcode$</span> <span itemprop="addressLocality">$town$</span></div>
        </div>
    </div>
    <div class="contact-info">
        <div><script type='text/javascript'>var a = new Array('rmann.ch','praxi','s@fbiede');document.write("<a href='mailto:"+a[1]+a[2]+a[0]+"'>"+a[1]+a[2]+a[0]+"</a>");</script></div>
        <div>Telefon <span itemprop="telephone">$phone$</span></div>
    </div>
$if(directions)$
    <div class="contact-info">
      $directions$
    </div>
$endif$
  </div>

  <footer id="impressum">
    <h2>Impressum</h2>
    <ul>
      <li>Gestaltung <a href="http://www.vistapoint.ch">Edith Spettig</a></li>
      <li>Programmierung <a href="https://dergestalt.ch">Manuel Schmid</a></li>
    </ul>
  </footer>
