${header()}

<div id="content"$if(subnav)$ class="multiple-pages"$endif$>
  <h1>$title$</h1>
$if(nav-index)$
  <p>$subtitle$</p>
$elseif(nav-kontakt)$
${contact()}
$else$
$if(image)$
  <img src="/img/$image$" />
$endif$
  <div role="main">
    $body$
$if(sidebar)$
    <aside id="sidebar">
      $sidebar$
    </aside>
$endif$
  </div>
$endif$
$if(subnav)$
  <nav id="subnav">
    <ul>
      <li$if(nav-psychotherapie)$ class="selected"$endif$><a href="/psychotherapie">Psychotherapie</a></li>
      <li$if(nav-supervision)$ class="selected"$endif$><a href="/supervision">Supervision</a></li>
      <li$if(nav-mobbing-beratung)$ class="selected"$endif$><a href="/mobbing-beratung">Mobbingberatung</a></li>
      <li$if(nav-spezialgebiete)$ class="selected"$endif$><a href="/spezialgebiete">Spezialgebiete</a></li>
    </ul>
  </nav>
$endif$
</div>

${footer()}
