/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

@import "normalize";
@import "magnific-popup";

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

@mixin ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
  &:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
  }
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

@mixin clearfix {
  *zoom: 1; /* for IE 6/7 only, to trigger hasLayout */
  &:before, &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear:both;
  }
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

/* Webfonts & font stacks --------------------------------------------------- */

@font-face {
  font-family: TheSerifExtraLight;
  src: url("/fonts/the-serif/the-serif-200.eot");
}
@font-face {
  font-family: TheSerifExtraLight;
  src: url("/fonts/the-serif/the-serif-200.woff") format("woff");
}

/*
 * Legal Disclaimer
 *
 * These Fonts are licensed only for use on these domains and their subdomains:
 * fbiedermann.ch
 *
 * It is illegal to download or use them on other websites.
 *
 * Lineto.com, 2012
 */

@font-face {
    font-family: 'BrauerNeue';
    src: url('/fonts/brauer-neue/lineto-brauer-neue-bold.eot');
    src: url('/fonts/brauer-neue/lineto-brauer-neue-bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/brauer-neue/lineto-brauer-neue-bold.woff') format('woff'),
         url('/fonts/brauer-neue/lineto-brauer-neue-bold.ttf') format('truetype'),
         url('/fonts/brauer-neue/lineto-brauer-neue-bold.svg#BrauerNeueBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

$font-main: TheSerifExtraLight, Georgia, serif;
$font-alt: 'BrauerNeue', Verdana, sans-serif;


/* Main content styles ------------------------------------------------------ */

#content {
  h1 {
    margin:0.238095238em 0 0.595238095em 0; /* 10px 0 15px 0 */
    padding-left:15px;
    font-family:$font-alt;
    font-size:2.625em;
    line-height:0.9;
    letter-spacing:1px;
    font-weight:bold;
    text-transform:lowercase;
    text-align:right;
    color:white;
  }
  ul {
    margin:-1em 0 1em;
    padding:0;
    list-style-type:none;
  }
  li {
    position:relative;
    padding-left:0.8em;
    &:before {
      position:absolute;
      top:0; left:0;
      content:"•";
    }
  }
  a {
    color:inherit;
    &:hover {
      color:white;
    }
  }
  hr {
    border-top:0;
  }
}


/* Main layout -------------------------------------------------------------- */

html {
  background:white;
}

body {
  position:relative;
  margin:0 auto;
  border:50px solid white;
  max-width:960px;
  background-color:rgb(145,215,218);
  font-family:$font-main;
  font-size:1em;
  line-height:1.1875;
}

#content {;
  position:relative;
  margin:0 -35px -35px 30px;
  border:5px solid rgb(255,153,0);
  padding:0 (30px + 200px) 30px 0;
  min-height:540px;
}

div[role=main] {
  margin-left:170px;
  &:before, &:after {
    position:absolute;
    right:0; bottom:0;
    content:"";
    background-color:white;
  }
  &:before {
    width:85px; height:178px;
  }
  &:after {
    width:185px; height:88px;
  }
}

#content>img, #map>a {
  position:absolute;
  top:-10px; right:-40px;
  /*z-index:-1;*/
}


/* Sidebar ------------------------------------------------------------------ */

aside {
  position:absolute;
  top:67px; left:1px;
  width:150px;
  font-size:0.75em;
  line-height:1.25;
}


/* Main navigation ---------------------------------------------------------- */

body>nav {
  padding:10px 36px 5px;
  font-family:$font-alt;
  font-size:0.875em; /* 14px */
  line-height:1.214285714; /* 17px */
  font-weight:bold;
  text-transform:lowercase;
  letter-spacing:1px;
  ul {
    padding:0;
    margin:0;
  }
  &>ul {
    @include clearfix;
    &>li {
      float:left;
    }
  }
  a {
    display:block;
    padding-right:36px;
    text-decoration:none;
    color:inherit;
  }
  li.selected>a, a:hover {
    color:white;
  }
}


/* Alternate navigation ----------------------------------------------------- */

.multiple-pages div[role=main] {
  padding-bottom:35px;
}

#subnav {
  position:absolute;
  left:170px; bottom:30px;
  ul {
    @include clearfix;
    margin:0 -15px;
    padding:0;
  }
  li {
    float:left;
    margin:15px;
    padding:0;
    width:17px; height:17px;
    background-color:rgb(120,167,151);
    background-clip: padding-box; /* keep color from leaking out */
    -webkit-border-radius: 17px;
            border-radius: 17px;
    &:before {
      content:none;
    }
  }
  a {
    @include ir;
    display:block;
    margin:-15px;
    width:47px; height:47px;
  }
  li.selected, li:hover {
    background-color:white;
  }
}


/* Columns ------------------------------------------------------------------ */

#content .columns {
  h2, p, ul {
    padding-right:15px;
  }
}

.columns {
  @include clearfix;
  margin-right:-200px;
  font-size:0.75em;
  line-height:1.25;
}

.column {
  float:left;
  padding-bottom:1em;
  width:33.333333%;
  h2 {
    margin:0 0 1em;
    font-size:inherit;
    line-height:inherit;
    text-transform:uppercase;
    font-weight:normal;
  }
}


/* Homepage ----------------------------------------------------------------- */

#home {
  background-image: url('/img/startseite.jpg');
  background-position:left bottom;
  background-repeat:no-repeat;
  h1 {
    max-width:40%;
    padding-left:10%;
    color:inherit;
  }
  p {
    padding-left:50%;
    font-family:$font-alt;
    font-weight:bold;
    font-size:2.625em;
    line-height:1;
    letter-spacing:1px;
    text-transform:lowercase;
    color:white;
  }
}


/* Contact page ------------------------------------------------------------- */

$contact-spacing: 80px; /* spacing at the bottom of the page */

#contact {
  border-bottom: ($contact-spacing + 50px) solid white;
  z-index:1;
  #content {
    margin-bottom:- $contact-spacing - 35px;
    padding-bottom:$contact-spacing + 30px;
    min-height:0;
    &:before, &:after {
      position:absolute;
      content:"";
      z-index:-1;
    }
    &:before {
      left:-35px; top:0; right:30px;
      height:220px;
      background-image: url('/img/kontakt.jpg');
      background-position:-30px top;
      background-repeat:no-repeat;
    }
    &:after {
      top:220px; right:30px; bottom:30px; left:0;
      background-color:rgb(229,130,50);
      opacity:0.3;
      filter: alpha(opacity=30);
    }
  }
  h1 {
    height:185px;
  }
  .contact-info {
    padding:0.5em 0;
    p {
      margin:0;
    }
    &:last-child {
      max-width:280px;
    }
  }
}

#impressum {
  position:absolute;
  left:170px; bottom:30px;
  height:$contact-spacing;
  font-size:0.75em;
  line-height:1.25;
  h2 {
    font-size:inherit;
    font-weight:inherit;
    margin:1em 0 0;
  }
  ul {
    margin:0;
  }
  li {
    padding:0;
    &:before {
      content:"";
    }
  }
}

.js #impressum {
  h2 {
    cursor:pointer;
    &:hover {
      text-decoration:underline;
    }
  }
  ul {
    display:none;
  }
}

#map {
  a {
    display:block;
    outline:none;
  }
  img {
    max-width:100%;
  }
  p {
    display:none;
  }
}

.mfp-title {
  padding-top:0.5em;
  a {
    color:white;
    &:hover {
      color:rgb(255,153,0);
    }
  }
}


/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */

/* isolated adjustments ----------------------------------------------------- */

/* Make columns fit within the blue background */
@media only screen and (max-width: 62em) {
  .columns {
    margin-right:-150px;
  }
}

/* make font on homepage fit small screens */
@media only screen and (max-width: 20em) {
  #home p { font-size:1.5em; }
}


/* first level of adjustment ------------------------------------------------ */
@media only screen and (max-width: 50em) {

  /* remove images and use the full width */
  #content {
    padding-right:(30px + 30px);
    &>img { display:none; }
  }

  /* remove white rectangles */
  div[role=main] { &:before, &:after { content:none; } }

  /* move columns underneath each other */
  .columns { margin-right:0; }
  .column { width:auto; float:none; }

  /* make font on homepage smaller */
  #home p { font-size:2em; }

  /* move map to the left side*/
  #map>a { top:0; left:0; right:auto; }

} /* end of first level */


/* second level of adjustment ----------------------------------------------- */
@media only screen and (max-width: 38em) {

  /* decrease overall font size for better legibility */
  html { font-size:0.8em; }

  /* decrease white space around page */
  body {
    border-top-width:0;
    border-left-width:0;
    border-right-width:45px;
  }

  /* no minimum height */
  #content { min-height:0; }

  /* move sidebar underneath main content */
  div[role=main] { margin-left:15px; }
  aside {
    position:static;
    margin-left:15px;
    margin-top:-1em;
    width:auto;
  }
  .multiple-pages aside {
    margin-top:-45px;
    margin-bottom:45px;
  }

  /* linear and more readable navigation */
  body>nav {
    font-size:1.2em;
    &>ul>li { float:none; }
  }

  /* subnavigation left-aligned */
  #subnav { left:15px; }

  /* homepage adjustments */
  #home {
    #content { min-height:540px; }
    h1 { max-width:100%; }
    p { padding:0 15px; }
  }

  /* make map part of static content flow */
  #map>a {
    position:static;
    margin-right:-30px;
    padding-top:7px;
  }

  /* adjust left distance of impressum */
  #impressum { left:15px; }

} /* end of second level */


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
  * Don't show links for images, or javascript/internal links
  */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  /* hide navigation */
  body>nav, #subnav { display:none; }

  /* center main content */
  #content { margin:0; }

  /* do not show link for map and email */
  #map a, .contact-info div>a { &:after { content:none; } }

  /* remove right spacing for regular content pages */
  #content.multiple-pages { padding-right:(30px + 30px); }

  /* hide white rectangles */
  div[role=main] { &:before, &:after { content:none; } }

} /* end of print styles */
